* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --Dark-gray: hsl(0, 0%, 59%);
}

body {
    background-color: var(--Dark-cyan);
    background-size: cover;
    background-repeat: repeat;
    z-index: -2;
}

.back {
    display: flex;
    position: relative;
}

.top {
    transform: translateX(-400px);
    position: relative;
}

.img-top {
    transform: translateY(-500px);
    position: relative;
    
}

.img-bottom {
    transform: translateX(-400px);
    margin-top: 15em;
    position: relative;
}
article {
    position: static;
    transform: translateY(-1125px);
    z-index: 1;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-content: center;
    font-family: 'Kumbh Sans', sans-serif;
}
.card {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 400px;
    background:white;
    border-radius: 1em;
    position: relative;
}
.bg-pattern-card {
    border-top-left-radius:1em ;
    border-top-right-radius: 1em;
}
.profile-img {
    display: flex;
    width: 350px;
    height: 280px;
    position: absolute;
    justify-content: center;
    align-items: center;
}
.victor {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 4px solid white;
}

.data-profile {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5em;
}

h1 {
    font-size: 18px;
    font-weight: 700;
}
h2{
    font-size: 14px;
    font-weight: 400;
}

h2, .age {
    color: var(--Dark-gray);
    font-weight: 400;
}

.age {
    margin-left: 10px;
}

.name-profile {
    display: flex;
    margin-top: 5em;
    justify-content: center;
    flex-direction: column;
}
.name-child {
    display: flex;
    justify-content: space-between;
    justify-content: center;
}
.country {
    text-align: center;
}

.account-features {
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: flex-end;
    margin-bottom: 2em;
    border-top: 1px solid gainsboro;
}
.center {
    text-align: center;
}
.attribution {
    margin-top: 1em;
     font-size: 11px; text-align: center;
     }
.attribution a {
     color: hsl(228, 45%, 44%);
     }


@media only screen and (max-width: 375px){
    .card, .bg-pattern-card, .profile-img {
        width: 290px;
    }
    .bg-pattern-card{
        height: 140px;
    }
    .account-features {
        padding-top: 1em;
    }
    .card {
        height: 370px;
    }
    .data-profile {
        margin-bottom: 2em;
    }
    .img-top, .img-bottom {
        width: 400px;
        height: 400px;
    }
    article {
        transform: translateY(-500px);
    }
    .top {
        transform: translateX(-250px);
        position: relative;
    }
    
    .img-top {
        transform: translateY(-180px);
        position: relative;
        
    }
    
    .img-bottom {
        transform: translateX(-200px);
        margin-top: 15em;
        position: relative;
}
}
